---
import { getPublishedPosts, postPath } from '../../lib/content';

export async function getStaticPaths() {
  const published = await getPublishedPosts();
  return published.map((post) => ({ params: { slug: post.slug }, props: { destination: postPath(post.slug) } }));
}
const { destination } = Astro.props;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${destination}`} />
    <link rel="canonical" href={destination} />
    <title>writing</title>
  </head>
  <body>
    <p><a href={destination}>writing</a></p>
  </body>
</html>
